<a href="https://colab.research.google.com/github/cxn10730/Assignment1/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print('ages list in sorted order:',ages)
print("Min age:",min(ages))
print("Max age:",max(ages))
ages.append(min(ages))
ages.append(max(ages))
print(ages)
ages.sort()
print(ages)
if len(ages) % 2 == 0:
    median = (ages[len(ages) // 2 - 1] + ages[len(ages) // 2]) / 2
else:
    median = ages[len(ages) // 2]
print("Median age:", median)
average = sum(ages) / len(ages)  
print("Average age:", average)
range_of_ages = max(ages) - min(ages)
print("Range of ages:", range_of_ages)

ages list in sorted order: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Min age: 19
Max age: 26
[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
[19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]
Median age: 24.0
Average age: 22.75
Range of ages: 7

In [ ]:
dog= {}
print(dog)
dog['name']='Puppy'
dog['colour']='White'
dog['breed']='Bull dog'
dog['legs']=4
dog['age']=5
print("dog dictionary:", dog)

{}
dog dictionary: {'name': 'Puppy', 'colour': 'White', 'breed': 'Bull dog', 'legs': 4, 'age': 5}

In [ ]:
student= {'first name': 'Chandu', 'Last name': 'Nadukuda', 'gender': 'female', 'age': 24, 'marital_status': 'married', 'skills': ['Communication' , 'Problem Solving'],
          'country': 'India', 'city': 'Hyderabad', 'address': 'Macherla'}
print("Student Dictionary :", student)
print('length of student dictionary is', len(student))
print('values of skills are', student['skills'])
print('datatype of skills is', type(student['skills']))
student['skills'].append('creativity')
print('values of skills are', student['skills'])
print('dictionary keys are', list(student.keys()))
print('dictionary values are', list(student.values()))

Student Dictionary : {'first name': 'Chandu', 'Last name': 'Nadukuda', 'gender': 'female', 'age': 24, 'marital_status': 'married', 'skills': ['Communication', 'Problem Solving'], 'country': 'India', 'city': 'Hyderabad', 'address': 'Macherla'}
length of student dictionary is 9
values of skills are ['Communication', 'Problem Solving']
datatype of skills is <class 'list'>
values of skills are ['Communication', 'Problem Solving', 'creativity']
dictionary keys are ['first name', 'Last name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
dictionary values are ['Chandu', 'Nadukuda', 'female', 24, 'married', ['Communication', 'Problem Solving', 'creativity'], 'India', 'Hyderabad', 'Macherla']

In [ ]:
brothers= ('Rohith', 'Sampath')
Sisters= ('Soumya', 'Madhu')
print('brothers are', brothers)
print('sisters are', Sisters)
siblings = brothers+Sisters
print('siblings are', siblings)
print('No.of sibling are:', len(siblings))
Family_members = (*siblings,'Gangareddy','Laxmi')
print('Family_members are', Family_members)

brothers are ('Rohith', 'Sampath')
sisters are ('Soumya', 'Madhu')
siblings are ('Rohith', 'Sampath', 'Soumya', 'Madhu')
No.of sibling are: 4
Family_members are ('Rohith', 'Sampath', 'Soumya', 'Madhu', 'Gangareddy', 'Laxmi')

In [ ]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
print('length of it_companies:', len(it_companies))
it_companies.add('Twitter')
print('it_companies are:', it_companies)
it_companies.update({'Amdocs','HCL'})
print('it_companies are:', it_companies)
it_companies.remove('Apple')
print('it_companies are:', it_companies)
it_companies.discard('Banana') 
A.update(B)
print(A)
print(B)
c=A.intersection(B)
print('intersection of A & B', c)
print('intersection of A & B', A&B)
print('is A subset of B', A.issubset(B))
print('are A&B disjoint sets', A.isdisjoint(B))
print('join A with B', A.union(B))
print('join A with B', B.union(A))
result = A.symmetric_difference(B)
print(result)
print(A^B)
print('Symmetric difference between A and B', A.symmetric_difference(B))
it_companies.clear()
del A
del B
del it_companies
age = [22, 19, 24, 25, 26, 24, 25, 24]
ages_set = set(age)
print(ages_set)
diff = len(age) - len(ages_set)
print('differnce between lengths os ages list and ages_set:', diff)

length of it_companies: 7
it_companies are: {'Google', 'IBM', 'Amazon', 'Microsoft', 'Apple', 'Facebook', 'Twitter', 'Oracle'}
it_companies are: {'Amdocs', 'Google', 'IBM', 'Amazon', 'Microsoft', 'Apple', 'HCL', 'Facebook', 'Twitter', 'Oracle'}
it_companies are: {'Amdocs', 'Google', 'IBM', 'Amazon', 'Microsoft', 'HCL', 'Facebook', 'Twitter', 'Oracle'}
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
intersection of A & B {19, 20, 22, 24, 25, 26, 27, 28}
intersection of A & B {19, 20, 22, 24, 25, 26, 27, 28}
is A subset of B True
are A&B disjoint sets False
join A with B {19, 20, 22, 24, 25, 26, 27, 28}
join A with B {19, 20, 22, 24, 25, 26, 27, 28}
set()
set()
Symmetric difference between A and B set()
{19, 22, 24, 25, 26}
differnce between lengths os ages list and ages_set: 3

# New Section

In [ ]:
_area_of_circle_ = 3.14 * 30**2
print(_area_of_circle_)
_circum_of_circle_ = 2*3.14*30
print(_circum_of_circle_)
radius=float(input('enter radius of given circle' ))
area = 3.14 * radius**2
print('area of circle is :', area)

2826.0
188.4
enter radius of given circle30
area of circle is : 2826.0

In [ ]:
str = 'I am a teacher and I love to inspire and teach people'
s = set(str.split(" "))
print(s)

{'love', 'people', 'and', 'I', 'teacher', 'am', 'a', 'inspire', 'teach', 'to'}

In [ ]:
print("Name\t\tAge\tCountry\tCity\nAsabeneh\t250\tFinland\tHelsinki")

Name		Age	Country	City
Asabeneh	250	Finland	Helsinki

In [ ]:
radius = 10 
area = 3.14 * radius ** 2 
print('The area of a circle with radius %d is %d meters square.'%(radius,area))

The area of a circle with radius 10 is 314 meters square.

In [ ]:

kgs=[]
n= int(input("Enter number of students"))
input_pounds = input('Enter %d students weights in pounds saperated by space ' %n)
print("\n")
pounds_list = input_pounds.split()
print('list: ', pounds_list)
for i in range(len(pounds_list)):
    pounds_list[i] = int(pounds_list[i])
    kilograms = 0.453592 * pounds_list[i]
    kgs.append(kilograms)
print(kgs)

Enter number of students4
Enter 4 students weights in pounds saperated by space 150 155 145 148


list:  ['150', '155', '145', '148']
[68.0388, 70.30676, 65.77083999999999, 67.131616]